@font-face {
  font-family: Stolzl;
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/Stolzl-Regular.ttf");
}
@font-face {
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/GothamPro.ttf");
}
@font-face {
  font-family: Stolzl;
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/Stolzl-Light.ttf");
}
@font-face {
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/GothamPro-Bold.ttf");
}

$maxWidth: 1920;
@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - 320;
  font-size: calc(
    #{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth})
  );
}
/* #region font*/

.title {
  @include adaptiv-font(48, 32);
  font-style: normal;
  font-weight: 400;
  line-height: 72px;
  text-align: left;

  color: #ffffff;
  & span {
    @include adaptiv-font(48, 28);

    font-style: normal;
    font-weight: 300;
    line-height: 72px;
    text-align: left;
  }
}
.subtitle {
  @include adaptiv-font(24, 18);

  font-style: normal;
  font-weight: 300;
  line-height: 36px;
  text-align: left;
  color: #ffffff;
}
.text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}
.number {
  @include adaptiv-font(18, 16);

  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
}
.button-text {
  font-family: Gotham Pro;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-align: right;
  color: #ffffff;
  text-decoration: none;
}
.imgBox__title {
  font-family: Stolzl;
  @include adaptiv-font(22, 18);

  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
}
.imgBox__text {
  font-family: Stolzl;
  @include adaptiv-font(12, 10);

  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
}
.imgBox__text-bold {
  font-family: Gotham Pro;
  @include adaptiv-font(18, 14);

  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  text-align: left;
}
/* #endregion font*/
